*{
    margin: 0;
}
main{
    background-color: #f2f3f7;
}
.header-top{
    background-color: rgba(0, 0, 0, 0.925);
    height: 11vh;
}
/* logo style  */
.logo-img{
    height: 10vh;
}
.logo-txt{
    position: relative;
    left: -20px;
}
.icon-color{
    color: tomato;
}
/* search box style  */
.search-box{
    background-color: white;
    margin-left: 10%;
    height: 40px;
    width: 430px;
}
.search-box > input{
    flex: 1;
    height: 40px;
    width: 390px;
    border: none;
    outline: none;
    font-size: 16px;
}
.search-box > button{
    background-color: white;
    color: tomato;
    border: none;
    font-size: 20px;
}
/* header second part style  */

.fa-volume-control-phone{
    transform: rotateY(0deg) rotate(-45deg);
}
.dropdown-currency{
   margin-left: -10px;
}
.dropdown-language{
   position: relative;
   left: 35%;
   top: -50%;
}
/* navbar */

.nav-custom{
    margin-left: 40%;
}
.nav-link-custom{
    width: 130px;
    font-size: small;
}
.nav-list{
    margin-left: -50px;
}
.nav-list li{
    list-style-type: none;
}
/* carusol */
.carusol-img{
    height: 359px;
}

/* media query  */
@media only screen and (max-width: 769px) {
    .header-top{
        height: 18vh;
    }
    .search-box{
        width: 90%;
    }
    .search-box > input{
        width: 80%;
        flex: 1;
    }
    .nav-list{
        display: none;
    }
    i.fa.fa-bars.fs-4.mt-1.icon-color {
        display: none;
    }
    
    .col-lg-6.col-md-12.ms-4.mt-3.carusol {
    width: 95%;
}
} 
/* for small devices  */
@media only screen and (max-width: 577px){
    .header-top{
        height: 35vh;
    }
} 