*{
    margin: 0;
    zoom: 100%;
}
main{
    background-color: #f2f3f7;
}
.header-top{
    background-color: rgba(0, 0, 0, 0.925);
    height: 11vh;
}
/* logo style  */
.logo-img{
    height: 10vh;
}
.logo-txt{
    position: relative;
    left: -20px;
}
.icon-color{
    color: tomato;
}
/* search box style  */
.search-box{
    background-color: white;
    margin-left: 10%;
    height: 40px;
    width: 430px;
}
.search-box > input{
    flex: 1;
    height: 40px;
    width: 390px;
    border: none;
    outline: none;
    font-size: 16px;
}
.search-box > button{
    background-color: white;
    color: tomato;
    border: none;
    font-size: 20px;
}
/* header second part style  */

.fa-volume-control-phone{
    transform: rotateY(0deg) rotate(-45deg);
}
.dropdown-currency{
   margin-left: -10px;
}
.dropdown-language{
   position: relative;
   left: 35%;
   top: -50%;
}
/* navbar */

.nav-custom{
    margin-left: 40%;
}
.nav-link-custom{
    width: 130px;
    font-size: small;
}
.nav-list{
    margin-left: -150px;
}
.nav-list li{
    list-style-type: none;
}
.nav-icon.d-flex.align-items-center{
    position: relative;
    left: -50px;
}
/* carusol */
.carusol-img{
    height: 359px;
}
/* top product nav */
.top-product{
    width: 220px;
    height: 80px;
}
.top-product.d-flex img{
    width: 80px;
}
.top-product-txt{
    font-size: 12px;
}
button.btn.top-product-btn.d-flex{
    font-size: 12px;
    position: relative;
    top: -10px;
}
button.btn.top-product-btn.d-flex i{
    font-size: 16px;
}
.navigate {
    list-style-type: none;
}
/* special product  */
.special-product{
    border: 3px solid white;
    
}
.sp-pd{
    margin-inline: 25px;
}
/* express section  */
.express-section{
    height: ;    
} 
.custom-txt{
    background-color: tomato;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-left: 4%;
}
/* countdown */
.countdown{
    width: 20%;
}
.countdown-number{
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.countdown-txt{
    color: dimgray;
    position: relative;
    top: -13%;
}
/* trending product  */
.trending-nav{
    position: relative;
    left: 26%;
    top: -7%;
}
p.pd-txt{
    font-size: 10px;
    color: dimgrey;
}
p.pd-txt1{
    font-size: 14px;
}
.rating{
    margin-top: -20px;
}
.rating>i{
    font-size: 12px;
    color: goldenrod;
}
i.material-icons.star-icon{
    color: dimgray;
}
/* product summary  */
.summary-pd{
    border: 1px solid rgba(105, 98, 98, 0.301);
}
/* subscribe section  */
.subscribe{
    background-color: #0a0b2e;
    height: 45vh;
    width: 102%;
    position: relative;
    margin-left: -10px;
}.subscribe-txt{
    position: relative;
    top: 30%;
}
.subscribe-field{
    background-color: white;
    border-radius: 30px;
    width: 450px;
    height: 50px;
    overflow: hidden;
}
.subscribe-field>input{
    width: 312px;
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 14px;
}
.subscribe-field>button{
    border: none;
    background-color: tomato;
    border-radius: 30px;
}

/* media query  */
/* media query for midium devices  */
@media only screen and (max-width: 769px) {
    /* header  */
    .header-top{
        height: 18vh;
    }
    /* search  */
    .search-box{
        width: 90%;
    }
    .search-box > input{
        width: 80%;
        flex: 1;
    }
    .nav-list{
        display: none;
    }
    i.fa.fa-bars.fs-4.mt-1.icon-color {
        display: none;
    }
    /* courosel  */
    .col-lg-6.col-md-12.ms-4.mt-3.carusol {
    width: 95%;
    
    }
    .carusol-img{
        height: 80vh;
    }
    /* special product  */
    .sp-pd1{
        margin-block: 30px;
    }
    .sp-pd{
        margin-inline: 0px;
        margin-block: 30px; 
    }
    .countdown{
    width: 60%;   
    }
    .trending-nav{
        position: relative;
        left: 0%;
    }
    .subscribe-field{
        position: relative;
        left: -20%;
        top: -5%;
        width: 50vh;
    }
    .subscribe-field>input{
        width: 40%;
    }
    .subscribe-field>button{
        margin-left: 15%;
    }
    .subscribe-img{
        display: none;
    }
} 
/* for small devices  */
@media only screen and (max-width: 577px){
    .header-top{
        height: 35vh;
    }
    .col-lg-7.col-md-12.ms-4.mt-3.carusol{
        display: none;
    }
    
} 